<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233368374877-l8b8if059q8mvnavp2sel869f4gvpgvq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233368374877-l8b8if059q8mvnavp2sel869f4gvpgvq</string>
	<key>API_KEY</key>
	<string>AIzaSyA05ZF0xEZzczGDLE6mrHsupr0zz5Dnd-o</string>
	<key>GCM_SENDER_ID</key>
	<string>233368374877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tyeecehensley.stopwatch</string>
	<key>PROJECT_ID</key>
	<string>stopwatch-d6490</string>
	<key>STORAGE_BUCKET</key>
	<string>stopwatch-d6490.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233368374877:ios:a5dcca5eab9f42b4d5c7b4</string>
	<key>DATABASE_URL</key>
	<string>https://stopwatch-d6490.firebaseio.com</string>
</dict>
</plist>